@media (prefers-color-scheme: dark) {
  html {
    -webkit-font-smoothing: antialiased;
  }
}

:root {
  /* colours */
  --var-global-color-white: #fff;
  --var-global-color-black: #000;
  --var-global-color-highlight: hsl(194.4, 100%, 21.2%);
  --var-global-color-poc: #00cc88;

  --var-global-body-font-family: 'helvetica', sans-serif;
  --var-global-body-font-weight: 400;
  --var-global-body-background-color: var(--var-global-color-white, #fff);
  --var-global-body-text-color: var(--var-global-color-black, #000);
  --var-global-heading-font-family: 'georgia', serif;
  --var-global-heading-font-weight: 700;
  --var-global-heading-line-height: 1.3;
  --var-link-color: hsl(194.4, 100%, 21.2%);
  --var-link-hover-color: hsl(213.9, 100%, 33.3%);
  --var-global-body-letter-spacing: normal;

  /* font sizes */
  --var-font-size-xxxxlarge: 67.34;
  /* 4.209rem/67.34px */
  --var-font-size-xxxlarge: 50.52;
  /* 3.157rem/50.52px */
  --var-font-size-xxlarge: 37.90;
  /* 2.369rem/37.90px */
  --var-font-size-xlarge: 28.43;
  /* 1.777rem/28.43px */
  --var-font-size-large: 21.33;
  /* 21.22/1.333rem */
  --var-font-size-medium: 18;
  /* 18/1.125 */
  --var-font-size-normal: 16;
  /* 16px/1rem */
  --var-font-size-small: 12;
  /* 0.75rem/12.00px */
  
  /* typography */
    /* blockquote */
    --var-global-blockquote-font-family: var(--var-global-heading-font-family, serif);
    --var-global-blockquote-font-weight: normal;
    --var-global-blockquote-font-style: italic;
    --var-global-blockquote-line-height: 49;
}

[data-theme='theme-gs'] {
  --var-global-body-font-family: 'Jost', sans-serif;
  --var-global-body-font-weight: 300;
  --var-global-heading-font-family: var(--var-global-body-font-family);
  --var-global-heading-font-weight: 500;
  
  --var-global-blockquote-display: inline;
  --var-global-blockquote-font-style: normal;
  --var-global-blockquote-font-weight: 500;
}

/* special exceptions */
[data-theme='theme-gs'] blockquote p {
  background-color: var(--var-global-body-text-color);
  color: var(--var-global-body-background-color);
  box-decoration-break: clone;
  padding: 4px 8px;
  line-height: 2;
}

[data-theme='dark'] {
  --var-global-body-background-color: #1f1f1f;
  --var-global-body-text-color: gainsboro;
  --var-link-color: gold;
  --var-link-hover-color: hsl(28.2, 100%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* vertical rhythm  */
*+* {
  margin-top: 1.75rem;
}

/* exceptions */
li+li,
nav,
nav *,
a+a,
h1:first-child,
main {
  margin-top: 0;
}

img+noscript+* {
  margin-top: 1rem;
}

ul,
ol {
  margin-left: 24px;
}

html {
  background-color: var(--var-global-body-background-color);
  color: var(--var-global-body-text-color);
  font-family: var(--var-global-body-font-family, serif);
  font-size: calc(var(--var-font-size-medium) / 16 * 1rem);
  font-weight: var(--var-global-body-font-weight);
  line-height: 1.75;
  letter-spacing: var(--var-global-body-letter-spacing, normal);
  height: 100%;
  font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
}

@media only screen and (min-width: 768px) {
 html {
   font-size: calc(var(--var-font-size-large) / 16 * 1rem);
 } 
}

body {
  background-color: var(--var-global-body-background-color);
  color: var(--var-global-body-text-color);  
  margin: 0;
  padding: 0;
  min-height: 100vh;
  transition: all .3s ease-in;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--var-global-heading-font-family, serif);
  font-weight: var(--var-global-heading-font-weight, 700);
  line-height: var(--var-global-heading-line-height, 1.3);
}

h1 {
  font-size: calc(var(--var-font-size-xxlarge, 36) / var(--var-font-size-normal, 16) * 1rem);
}

h2 {
  font-size: calc(var(--var-font-size-xlarge, 28) / var(--var-font-size-normal, 16) * 1rem);
}

h3 {
  font-size: calc(var(--var-font-size-large, 24) / var(--var-font-size-normal, 16) * 1rem);
}

h4 {
  font-size: calc(var(--var-font-size-medium, 20) / var(--var-font-size-normal, 16) * 1rem);
}

h5 {
  font-size: calc(var(--var-font-size-medium, 18) / var(--var-font-size-normal, 16) * 1rem);
}

h6 {
  font-size: calc(var(--var-font-size-normal, 16) / var(--var-font-size-normal, 16) * 1rem);
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: calc(var(--var-font-size-xxxxlarge, 68) / var(--var-font-size-normal, 16) * 1rem);
  }  
  
  h2 {
    font-size: calc(var(--var-font-size-xxxlarge, 50) / var(--var-font-size-normal, 16) * 1rem);
  }
  
  h3 {
    font-size: calc(var(--var-font-size-xxlarge, 38) / var(--var-font-size-normal, 16) * 1rem);
  }
  
  h4 {
    font-size: calc(var(--var-font-size-xlarge, 28) / var(--var-font-size-normal, 16) * 1rem);
  }
  
  h5 {
    font-size: calc(var(--var-font-size-large, 22) / var(--var-font-size-normal, 16) * 1rem);
  }
  
  h6 {
    font-size: calc(var(--var-font-size-normal, 16) / var(--var-font-size-normal, 16) * 1rem);
  }
}

blockquote p {
  display: var(--var-global-blockquote-display, block);
  color: var(--var-global-body-text-color);
  font-family: var(--var-global-blockquote-font-family);
  font-weight: var(--var-global-blockquote-font-weight);
  font-style: var(--var-global-blockquote-font-style);
  font-size: calc(var(--var-font-size-xlarge, 28) / var(--var-font-size-normal, 16) * 1rem);
  line-height: calc(var(--var-global-blockquote-line-height) / var(--var-font-size-xlarge, 28));
}

a {
  color: var(--var-link-color);
  text-underline-offset: 6px;
  transition: color .3s ease-in;
}

a:focus,
a:hover {
  color: var(--var-link-hover-color);
  text-underline-offset: 3px;
}

dl>* {
  margin-top: 0;
}

dt {
  font-size: 0.875rem;
  font-weight: 700;
}

dd+dt {
  margin-top: 1rem;
}

dl+dl {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px dashed black;
}

/* bringhurst */
p,
ul,
ol {
  /* max-width: 28em; */
}

/* code */
pre[class*="language-"] {
  font-size: calc(var(--var-font-size-small) / 18 * 1rem);
}

nav.nav {
  display: flex;
  /* column-gap: 1rem; */
  justify-content: space-between;
  /* align-items: center; */
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 12px;
  /* line-height: 1.66666667; */
  line-height: 2;
}

.nav__link:focus,
.nav__link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.nh-logo {
  flex: 1 1 auto;
  text-decoration: none;
  /* max-width: 160px; */
  color: var(--var-global-body-text-color);
}

.nh-logo .nh-site-description {
  display: flex;
  margin: 0;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 12px;
}

.nh-logo .nh-site-description * {
  margin-top: 0;
}

.layout {
  max-width: 760px;
  margin: 0 auto;
  padding: 1rem;
}

.header {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 2rem;
}

footer[role="contentinfo"] {
 display: flex;
 gap: 1rem; 
}

footer[role="contentinfo"] * {
  margin: 0;
  padding: 0;
  font-size: calc(var(--var-font-size-small, 12) / 16 * 1rem);
}

/* .nh-def-list.--horizontal {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.nh-def-list.--horizontal dd+dt {
  margin-top: 0;
} */